$color1: #eff0f3;
$color2: #861d04;
$color3: #004674;
$color4: whitesmoke;
$color5: #25221d;

$text-header-h1: $color1;
$border-color-h1: $color2; 
$text-link-color: $color1;
$text-light: $color4;
$background-footer: $color5;